/* =================================
  Flexbox
==================================== */
.Margaux {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

nav ul {
  display: flex;
  flex-flow: column;

}
.container {
	display: flex;
	flex:1
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
	height: 100px;
	flex-direction:column;

}

.page {
    display: flex;
    flex-direction: column

}

.page > * {
    background-color: #273ca5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
		width: 100%
}

.maincontent {
		display:flex;
		flex: 1 0 auto;
}

.sidebar {

		height: 500px;
		display:flex;
		flex-direction:row;
		order: 2;
		flex: 0 0 12em;
}

.photo{
	grid-column: 2
	grid-row: 3;

}
@media (min-width: 600px) {
  .page {
    flex-direction: row;

  }
  .maincontent {
    flex: 1;
  }
  .sidebar {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
	.container{
		flex-direction: row;

	}
  .footer{
  grid-row-start: 2;
  grid-row-end: 3;
}
  }
}
