/* =================================
  Flexbox
==================================== */
.Margaux {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
	display: flex;
	flex:1
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
	height: 100px;
	width: 100%;
}

.page {
    display: flex;
    flex: 1;
}

.page > * {
    background-color: #273ca5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.maincontent {
    grid-column: 2;
		grid-row: 2
		display:flex;
		flex: 1
}

.sidebar {

		height: 500px;
		display:flex;
		flex-direction:row;
		order: -1;
		flex: 0 0 12em;
}

.photo{
	grid-column: 2
	grid-row: 3;

}
@media (min-width: 600px) {
  .page {
    flex-direction: row;

  }
  .maincontent {
    flex: 1;
  }
  .sidebar {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}
