
.title{
  display:flex;
  justify-content: space-between;

}
nav ul {
  display: flex;
  flex-flow: column;
}

@media screen and (min-width: 450px) {

    nav ul {
        flex-flow: row;
        justify-content: space-between;
    }

}

@media screen and (min-width:1000px) {
  .page {
    display: grid;
      grid-template-columns: 200px 1fr 1fr;
    grid-template-areas:
      "main main sidebar"
      "main main sidebar"
      "footer footer footer";


    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;


  }

  .main{
      grid-area: main;
   }

   .sidebar{
    grid-area: sidebar;
    }

   .footer{
    grid-area: footer;

  }

  }


</style>
