
.title{
  display:flex;
  justify-content: space-between;

}
nav ul {
  display: flex;
  flex-flow: column;
}

@media screen and (min-width: 450px) {

    nav ul {
        flex-flow: row;
        justify-content: space-between;
    }

}
@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-areas:
      "header header header"
      "nav article sidebar"
      "nav footer footer";
    grid-template-rows: 80px 1fr 70px;
    grid-template-columns: 20% 1fr 15%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;


  }


  #header{
      grid-area: header;
   }

   #nav{
    grid-area: nav;
    }

   #maincontent{
    grid-area: article;

  }

   #sidebar{
    grid-area: sidebar;
  }

  #footer{
    grid-area: footer;

}

@media screen and (max-width: 575px) {
  body {
    grid-template-areas:
      "header"
      "nav"
      "article"
      "sidebar"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr;
 }
}
</style>
