/*styles go here*/

/*p{
  color:red;
}*/

p{
  color:#666666
  font-family: Helvetica, Arial, sans-serif;
}

h1{
  font-family: Georgia,"Times New Roman", serif;
}

body{
  background-color:#ebecea;
}

#container{
  width:95%;
  background-color: #96A3D8;
  margin: 0 auto;
}

#nav{
  padding: 0;
}

#nav li{
  list-style-type:none;
  float: left;
  margin: 0;
  padding: 0;
  width: 33%;
}

#nav a:link, a:visited {
  display:block;
  color: #ffffff;
  background-color: #392bca;
  font-weight: bold;
  text-align:center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
  background-color: #776ced;
}
