/*styles go here*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-color:#c3c3c9;
  text-align: center;
  line-height: 1.45em;
}

#container{
  width:95%;
  background-color: #96A3D8;
  margin: 0 auto;
}

h1{
  font-family:'Old Standard TT', serif;
  text-align: center;
  font-size: 3em;
  margin-top: 0.5em;

}
h4{
  color:#1d166e;
  font-family: Georgia, "Times New Roman", serif;
  text-align: center;
}

p{
  color:#1d166e;
  font-family: Georgia, "Times New Roman", serif;
  text-align: center;
}


.container {
	padding: 10px;
	background: #5f73c4;
  	border-radius: 5px;
	margin: 45px auto;
  	box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  }

  header {
    display:flex;
    flex-flow:row;
    margin:0;
    padding:0 10px;

  }

  .menu-trigger{
    order:1;
  }

  header h1{
    order:2;
  }


nav ul li{
  list-style-type:none;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul li a:link, a:visited {
  display: block;
  color: #ffffff;
  background-color: #697096;
  font-weight: 400;
  text-align:center;
  text-decoration: none;
  padding: 4px;
  font-family: Georgia, "Times New Roman", serif;
}

nav ul li a:hover, a:active {
  background-color: #32374b;
}

footer {
    border-top: 1px solid #ccc;
}

footer p {
    font-size: 0.8em;
}

a {
    color: #000;
}

a:hover {
    color: #ffffff;
}

nav ul {
  padding: 0;
  display: none;
}


/* =================================
  Flexbox
==================================== */
.Margaux {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}


.container {
	display: flex;
	flex:1
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
	height: 100px;
	flex-direction:column;

}

.page {
    display: flex;
    flex-direction: column

}

.page > * {
    background-color: #c2c9e8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
		width: 100%
}

.maincontent {
		display:flex;
		flex: 1 0 auto;
}

.sidebar {

		height: 500px;
		display:flex;
		flex-direction:row;
		order: 2;
		flex: 0 0 12em;
}

.photo{
	grid-column: 2
	grid-row: 3;

}

/*grid*/
.title{
  display:flex;
  justify-content: space-between;

}


@media screen and (min-width: 450px) {

    nav ul {
        flex-flow: row;
        justify-content: space-between;
    }

}

@media screen and (min-width:1000px) {
  .page {
    display: grid;
      grid-template-columns: 200px 1fr 1fr;
    grid-template-areas:
      "main main sidebar"
      "main main sidebar"
      "footer footer footer";


    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;


  }

  .main{
      grid-area: main;
   }

   .sidebar{
    grid-area: sidebar;
    }

   .footer{
    grid-area: footer;

  }

  }


</style>

@media (min-width: 600px) {
  .page {
    flex-direction: row;

  }
  .maincontent {
    flex: 1;
  }
  .sidebar {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
	.container{
		flex-direction: row;

	}
  .footer{
  grid-row-start: 2;
  grid-row-end: 3;
}

}

@media screen and (min-width: 700px){
  nav ul{
    display:flex;
  }

  .menu-trigger{
    display:none;
  }

  nav ul li{
    border-top:none;
  }

  nav{
    order:2;
  }

  header h1{
    order:1;
  }
}
