p{
  color:#666666
  font-family: Helvetica, Arial, sans-serif;
}

h1{
  font-family: Georgia, "Times New Roman", serif;
}

body{
  background-color:#EBECEA
}

#container{
  width:95%;
  background-color: #96A3D8;
  margin: 0 auto;
}

#nav{
  padding: 0;
}

#nav li{
  list-style-type:none;
  float: left;
  margin: 0;
  padding: 0;
  width: 25%auto;
}
